@font-face {
    font-family: dana;
    src: url('./fonts/DanaVF.ttf');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: dana, sans-serif;
    direction: rtl;
    text-align: right;
}

a {
    text-decoration: none;
}
 .carousel {
	 overflow: hidden;
	 width: 100%;
	 position: relative;
	 z-index: 1;
	 height: 200px;
}
 .carousel--wrapper {
	 counter-reset: count;
	 display: flex;
	 position: absolute;
	 z-index: 1;
	 height: 100%;
	 top: 0;
	 left: 0;
	 width: 100%;
}
 .carousel--item {
	 counter-increment: count;
	 position: absolute;
	 z-index: 1;
	 top: 0;
	 left: 0;
	 padding: 0 1.5vw;
	 overflow: hidden;
}

 @media (max-width: 767px) {
	 .carousel--item {
		 width: 40vw;
		 height: 40vw;
	}
}
 .carousel--item a {
	 /* position: absolute; */
	 z-index: 1;
	 display: block;
	 user-select: none;
	 -webkit-appearance: none;
	 padding: 0;
	 border: none;
	 outline: none;
	 box-shadow: none;
	 cursor: pointer;
	 overflow: hidden;
	 pointer-events: none;
	 transform-origin: center;
     font-family: dana, sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #333;
    padding: 9px 25px;
    border-radius: 30px;
    background-color: #F5F5F5;
    text-align: center;
    font-weight: 450;
}
 .carousel--item a img {
	 position: absolute;
	 z-index: 1;
	 top: 0;
	 left: 0;
	 width: 100%;
	 height: 100%;
	 object-fit: cover;
	 vertical-align: middle;
	 transform-origin: center;
}
 