@font-face {
    font-family: dana;
    src: url('./fonts/DanaVF.ttf');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: dana, sans-serif;
    direction: rtl;
    text-align: right;
}

a {
    text-decoration: none;
}

.carousel-slider span {
  display: block;
  padding: 12px 10px 12px 10px;
  margin: 0 0 0 10px;
  border-radius: 3px;
  color: #FF334B;
  width: 110px;
  font-weight: 500;
}

.carousel-container {
    display: flex;
    flex-flow: row;
    max-width: 1330px;
    margin: 10px auto;
    align-items: center;
    overflow: hidden;
}

.carousel-container li {
    text-align: center;
    width: max-content;
    white-space: nowrap;
}

.carousel-container li a {
    font-family: dana, sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #333;
    padding: 9px 25px;
    border-radius: 30px;
    background-color: #F5F5F5;
    text-align: center;
    font-weight: 450;
}

.carousel-container .carousel-viewport {
    overflow: hidden;
    position: relative;
    padding: 0 42px;
}

.carousel .button {
    position: absolute;
    background-color: #ffffff;
    color: #212121;
    width: 36px;
    height: 36px;
    box-shadow: 0px 0px 9px -3px rgb(0 0 0 / 22%);
    border-radius: 50%;
    border: none;
    top: 0;
}

.carousel {
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    height: 39px;
    align-items: center;
    max-width: 1150px;
    touch-action: pan-y;
    margin: 0 auto;
}

.carousel .button.previous {
    left: -39px;
}

.carousel .button.next {
    right: -42px;
}

.carousel .button svg {
    position: absolute;
    top: 20%;
    width: 60%;
    height: 60%;
}

.carousel .button.previous svg {
    left: 34%;
}

.carousel .button.next svg {
    left: 10%;
}

.carousel-list {
    display: flex;
    flex-flow: row nowrap;
    list-style: none;
    gap: 10px;
    overflow: hidden;
    width: max-content;
    margin-right: -125px;
    cursor: grab; /* نشانگر ماوس در حالت عادی */
    user-select: none !important; /* جلوگیری از انتخاب متن */
    -webkit-user-select: none; /* برای سافاری */
    -moz-user-select: none; /* برای فایرفاکس */
}

.carousel-list li {
    display: flex;
}

@media (max-width: 1024px) {
    .carousel .button {
        display: none;
    }
    .carousel-slider span {
        width: 95px;
    }
}